{% extends 'main/base.html' %}
{% block content %}
<div class="container offset-md-1 col-md-7">
  <h1>Add Post</h1>
  <!-- {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %} -->
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.media }}
    <button type="submit" class="btn btn-primary" onclick="return alert('Added successfully')">Submit</button>
  </form>
</div>
<style>
  @media (max-width: 576px) {
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
</style>
{% endblock %}