 {% extends 'main/base.html' %}
{% block content %}
<h1><center>view category</center></h1>
<div class="row">
    <div class="col-md-12 offset-md-1">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">    
        <tr>
          <th>sno</th>
            <th>Id</th>
            <th>Category</th>
            <th>Category Description</th>
            <th>Action</th>           
        </tr>
        {% for item in eachproduct %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.id }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.categoryDescription }}</td>
            <td>
                <a href="{% url 'deletecategory' item.id %}" type="button" class="btn btn-danger" onclick="return confirm('Are you want to delete')">Delete</a>
                <a href="{% url 'updatecategory' item.id %}" type="button" class="btn btn-success">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
    </div>
</div>
{% endblock %} 

