<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
</head>
<style>
  h1{
        background-color: rgb(133, 107, 189);
        color:black;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
</style>

<body>
  <!-- password reset -->
          <h1>Forgot your password?</h1>
        
      <center>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type ="submit" style="background-color: dodgerblue;" value="Send email!">
          </form>
        </center>
          
</body>
</html>