<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
          <style>
            h1{
                  background-color: rgb(133, 107, 189);
                  color:black;
                  text-align: center;
                  padding-top: 40px;
                  padding-bottom: 40px;
              }
          </style>
</head>
<body>
  <!-- pass done -->
          <h1>Check your inbox.</h1>
  <p> We've emailed you instructions for setting your password. You should receive the email shortly!</p>
          
</body>
</html>